:host {
   background: url('../../assets/images/board.jpg') no-repeat center;
   display: flex;
   height: 100%;
   z-index: 0;
}

app-board {
   flex: 9;
}

app-list {
   flex: 1;
   min-width: 350px;
}