<div class="note" [class.selected]="note.selected" [style.left.px]="note.coordinate.x" [style.top.px]="note.coordinate.y">
  <div class="bar" [class.selected]="note.selected"></div>
  <div class="body" [style.background]="note.color">
      <div class="meta">
          <div
            class="title"
            #title
            [contentEditable]="titleEditing"
            (dblclick)="edit('title')"
            (keyup.enter)="update('title', title.textContent)"
            (keyup.esc)="cancel('title')"
            (blur)="cancel('title')"
          >
            {{ note.title }}
        </div>
        <input
          class="icon-pets"
          type="color"
          [value]="note.color"
          (change)="changeNoteColor($event)"
        >
      </div>
      <div
        class="content"
        #content
        [contentEditable]="contentEditing"
        (dblclick)="edit('content')"
        (keyup.enter)="update('content', content.textContent)"
        (keyup.esc)="cancel('content')"
        (blur)="cancel('content')"
      >
        {{ note.content }}
      </div>
  </div>
</div>
