<div class="note" [attr.id]="note.id" [class.selected]="note.selected" [style.left.%]="note.coordinate.x" [style.top.%]="note.coordinate.y" [style.z-index]="note.coordinate.z">
  <div class="bar" [class.selected]="note.selected"></div>
  <div class="body" [style.background]="note.color" [style.color]="darkMode ? 'white' : 'black'">
      <div class="meta">
          <div
            class="title"
            #title
            [contentEditable]="titleEditing"
            [class.editing]="titleEditing"
            (dblclick)="edit('title')"
            (keyup.enter)="onEnter($event)"
            (keydown.enter)="onEnterDown($event)"
            (keyup.esc)="onEsc($event)"
            (blur)="onBlur($event)"
          >{{ note.title }}</div>
        <input
          class="icon-pets"
          type="color"
          [value]="note.color"
          (change)="changeNoteColor($event)"
        >
      </div>
      <div
        class="content"
        #content
        [contentEditable]="contentEditing"
        [class.editing]="contentEditing"
        [style.max-height]="note.maxHeight"
        (dblclick)="edit('content')"
        (keyup.enter)="onEnter($event)"
        (keydown.enter)="onEnterDown($event)"
        (keyup.esc)="onEsc($event)"
        (blur)="onBlur($event)"
      >{{ note.content }}</div>
  </div>
</div>
