.list {
    background: rgba(255, 255, 255, 0.7);
    border-left: 1px solid black;
    height: 100%;
    top: 0px;
    right: 0px;
    overflow-y: auto;
}

.item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d8d8d8;
    height: 50px;
    padding: 0 10px;
    font-weight:bold;
    white-space: nowrap;
}

.item:hover {
    cursor: pointer;
}

.item span {
    flex: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
}

.item button {
    flex: 1;
}

mat-icon {
    width: 16px;
}

.selected{
    background: #96a6eb;
}